<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>upDate-user</title>
  </head>
  <body>
    <div class="update-user-container">
      <form action="/update-user" method="POST">
        <div>
          <label>firstName</label>
          <input name="firstName" value="<%= dataUser.firstName%>" />
        </div>
        <div>
          <label>lastName</label>
          <input name="lastName" value="<%= dataUser.lastName%>" />
        </div>
        <div>
          <label>email</label>
          <input name="email" value="<%= dataUser.email%>" />
        </div>
        <div>
          <label>address</label>
          <input name="address" value="<%= dataUser.address%>" />
        </div>
        <input type="text" value="<%= dataUser.id%>" hidden name="id" />
        <div>
          <button type="submit">Save</button>
        </div>
      </form>
    </div>
  </body>
</html>
